html {
	font-size: 62.5%;
}

body {
	font-family: Lato, Arial, sans-serif;
	background-color: #222;
}

header {
	background-color: #000;
	text-align: center;
}

.container {
	width: 80%;
	max-width: 90rem;
	margin: 0 auto;
	padding: 2rem;
}

.source__btn {
	display: inline-block;
	min-width: 15rem;
	margin: 0 1rem .4rem 0;
	padding: 1rem;
	transform: skew(-20deg);
	background-color: transparent;
	border: .2rem solid #FAFAFA;
	font-size: 1.6rem;
	color: #FAFAFA;
}

.source__btn:last-of-type {
	margin-right: 0;
}

.source__btn:hover,
.source__btn.active {
	background-color: #FAFAFA;
	border-color: #406D5A;
	color: #222;
}

.source__btn:focus {
	outline-color: #FAFAFA;
}

.skew-offset {
	display: block;
	transform: skew(20deg);
}

.hidden {
	display: none;
}

img {
	max-width: 21rem;
	vertical-align: top;
}

a {
	text-decoration: none;
	color: #FAFAFA;
}

.popcorn {
	display: inline-block;
	margin-right: 1rem;
	font-size: 8rem;
}

.header__title {
	display: inline-block;
	margin-bottom: 3rem;
	font-family: 'Kanit', Arial, sans-serif;
	font-size: 6.5rem;
	font-weight: 900;
	color: #FAFAFA;
}

.header__title span {
	display: block;
	font-size: 1.8rem;
	font-weight: normal;
}

.article__listing {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
  margin: 2rem 0 2rem 5rem;
	background-color: #686963;
	border-right: 1.5rem solid #406D5A;
}

.img-container {
	margin-left: -6rem;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.article__info {
	margin: 0 1rem;
	width: 75%;
}

.article__title {
	max-height: 5rem;
	overflow: hidden;
	font-size: 2.2rem;
	margin: 0;
}

#modal {
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 10rem;
	overflow: auto;
	background-color: rgba(22,22,22,.8);
	z-index: 10;
}

#modal__container {
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding: 2rem;
	background-color: #FAFAFA;
	border: 2px solid #406D5A;
}

#closeModal {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	font-weight: bolder;
	border: 2px solid #406D5A;
}

#closeModal:hover {
	background-color: #406D5A;
	color: #FAFAFA;
}

.modal__title {
	font-size: 3rem;
}

.modal__desc {
	margin-bottom: 3.5rem;
	font-size: 2rem;
}

.modal__link {
	padding: 1rem 0;
	font-size: 1.8rem;
	font-weight: bolder;
	text-decoration: none;
	color: #406D5A;
}

.modal__link:hover {
	background-color: #406D5A;
	color: #FAFAFA;

}

.article__modal-btn {
	padding: 0;
	border: none;
	background-color: transparent;
	color: #FAFAFA;
	text-align: left;
	cursor: pointer;
}

.article__modal-btn:hover,
.article__modal-btn:focus {
	background-color: #FAFAFA;
	color: #406D5A;